<template>
  <v-container>
    <v-layout row>
      <v-frex xs12>
        <h1>Home</h1>
      </v-frex>
    </v-layout>
  </v-container>
</template>

<script>
    export default {
      data () {
        return {

        }
      }
    }
</script>

<style scoped>

</style>
