<template>
  <v-container>
    <v-layout row>
      <v-frex xs12>
        <h1>Registration</h1>
      </v-frex>
    </v-layout>
  </v-container>
</template>

<script>
    export default {
      data: function () {

      }
    }
</script>

<style scoped>

</style>
